<!DOCTYPE html>

<!--
My Social Accounts
-----------------------------------------------------------------------------------------------------------------------------
Website     https://www.khizooo.com
Facebook    https://www.facebook.com/khizoooartist
Instagram   https://www.instagram.com/khizooo_art
LinkedIn    https://www.linkedin.com/in/khizar-imtiaz
OpenSea     https://opensea.io/KhizoOo_
Twitter     https://twitter.com/khizaroo
Pinterest   https://www.pinterest.com/KhizoOo_
Snapchat    https://www.snapchat.com/add/khizooo_1163?share_id=ZIvI4JY3joU&locale=en-PK
Skype       https://join.skype.com/invite/b0k5jlb9HRmk
YouTube     https://youtube.com/@@khizooo?sub_confirmation=1
Whatsapp    https://wa.me/923007683396?text=KhizoOo%20%3C3
TikTok      https://www.tiktok.com/@@khizooo_butt
-->

<html lang="en">
<head>

    <!-- My Social META -->
    <meta name="Website" content="https://www.khizooo.com">
    <meta name="Facebook" content="https://www.facebook.com/khizoooartist">
    <meta name="Instagram" content="https://www.instagram.com/khizooo_art">
    <meta name="LinkedIn" content="https://www.linkedin.com/in/khizar-imtiaz">
    <meta name="OpenSea" content="https://opensea.io/KhizoOo_">
    <meta name="Twitter" content="https://twitter.com/khizaroo">
    <meta name="Pinterest" content="https://www.pinterest.com/KhizoOo_">
    <meta name="Snapchat" content="https://www.snapchat.com/add/khizooo_1163?share_id=ZIvI4JY3joU&locale=en-PK">
    <meta name="Skype" content="https://join.skype.com/invite/b0k5jlb9HRmk">
    <meta name="YouTube" content="https://youtube.com/@@khizooo?sub_confirmation=1">
    <meta name="Whatsapp" content="https://wa.me/923007683396?text=KhizoOo%20%3C3">
    <meta name="TikTok" content="https://www.tiktok.com/@@khizooo_butt">
    <!-- My Social META -->
    <!-- Common META -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="KhizoOo-Theme" content="KhizoOo">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="revisit-after" content="7 days">
    <meta name="distribution" content="global">
    <meta name="rating" content="general">
    <meta name="googlebot" content="index, follow">
    <meta name="bingbot" content="index, follow">

    <!-- Title -->
    <title>khizooo.com</title>


    <!-- Favicon -->
    <link title="Favicon" rel="icon" type="image/png" href="favicons/Favicon-16.png">

    <!-- Template Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&family=Teko:wght@300;400;500;600;700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/flaticon.css">

    <!-- Custom Styles CSS -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

</head>
<body>


    <div id="colorlib-page">

        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>

        <!-- Left Sidebar -->
        <aside id="colorlib-aside" role="complementary" class="js-fullheight">

            <h1 id="colorlib-logo" class="mb-4 mb-md-5"><a href="index.html" style="background-image: url(images/bg_1.jpg);">KHIZOOO</a></h1>
            <nav id="colorlib-main-menu" role="navigation">
                <ul>
                    <li class="colorlib-active"><a href="index.html">Home</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>

            <div class="colorlib-footer">
                <p class="pfooter">
                    Copyright ©
                    <script>document.write(new Date().getFullYear());</script>2024 All rights reserved.
                </p>
                <a b-zm1jlgu3xn="" href="https://khizooo.com" target="_blank">khizooo.com</a>
            </div>
        </aside>
        <!-- Left Sidebar -->
        <!-- Main -->
        <div id="colorlib-main">
            @RenderBody()
        </div>

    </div>
    <!-- Main -->
    <!-- Loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <!-- Loader -->
    <!-- Scripts -->
    @{

        string ColtrollerName = ViewContext.RouteData.Values["controller"].ToString();
        string ActionName = ViewContext.RouteData.Values["action"].ToString();

        if (ColtrollerName == "")
        {

        }

    }


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="~/js/main.js"></script>

    <!-- Scripts -->
    @await RenderSectionAsync("CustomScripts", required: false)
</body>
</html>

