<!DOCTYPE html>

<!--
My Social Accounts
-----------------------------------------------------------------------------------------------------------------------------
Website     https://www.khizooo.com
Facebook    https://www.facebook.com/khizoooartist
Instagram   https://www.instagram.com/khizooo_art
LinkedIn    https://www.linkedin.com/in/khizar-imtiaz
OpenSea     https://opensea.io/KhizoOo_
Twitter     https://twitter.com/khizaroo
Pinterest   https://www.pinterest.com/KhizoOo_
Snapchat    https://www.snapchat.com/add/khizooo_1163?share_id=ZIvI4JY3joU&locale=en-PK
Skype       https://join.skype.com/invite/b0k5jlb9HRmk
YouTube     https://youtube.com/@@khizooo?sub_confirmation=1
Whatsapp    https://wa.me/923007683396?text=KhizoOo%20%3C3
TikTok      https://www.tiktok.com/@@khizooo_butt
-->

<html lang="en">
<head>

    <!-- My Social META -->
    <meta name="Website" content="https://www.khizooo.com">
    <meta name="Facebook" content="https://www.facebook.com/khizoooartist">
    <meta name="Instagram" content="https://www.instagram.com/khizooo_art">
    <meta name="LinkedIn" content="https://www.linkedin.com/in/khizar-imtiaz">
    <meta name="OpenSea" content="https://opensea.io/KhizoOo_">
    <meta name="Twitter" content="https://twitter.com/khizaroo">
    <meta name="Pinterest" content="https://www.pinterest.com/KhizoOo_">
    <meta name="Snapchat" content="https://www.snapchat.com/add/khizooo_1163?share_id=ZIvI4JY3joU&locale=en-PK">
    <meta name="Skype" content="https://join.skype.com/invite/b0k5jlb9HRmk">
    <meta name="YouTube" content="https://youtube.com/@@khizooo?sub_confirmation=1">
    <meta name="Whatsapp" content="https://wa.me/923007683396?text=KhizoOo%20%3C3">
    <meta name="TikTok" content="https://www.tiktok.com/@@khizooo_butt">
    <!-- My Social META -->
    <!-- Common META -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="KhizoOo-Theme" content="KhizoOo">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="revisit-after" content="7 days">
    <meta name="distribution" content="global">
    <meta name="rating" content="general">
    <meta name="googlebot" content="index, follow">
    <meta name="bingbot" content="index, follow">

    <!-- Title -->
    <title>khizooo.com</title>

    <!-- Favicon -->
    <link title="Favicon" rel="icon" type="image/png" href="favicons/Favicon-16.png">

    <!-- Template Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">

    <!-- Custom Styles CSS -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

</head>
<body>


    <div id="khizooo-page">

        <a href="#" class="js-khizooo-nav-toggle khizooo-nav-toggle"><i></i></a>

        <!-- Left Sidebar -->
        <partial data-name="SideFilter" name="~/Views/Shared/PartialViews/Aside.cshtml" />
        <!-- Left Sidebar -->
        <!-- Main -->
        <div id="khizooo-main">

            @RenderBody()

            <!-- Footer -->
            <partial data-name="Footer" name="~/Views/Shared/PartialViews/Footer.cshtml" />
            <!-- Footer -->
        </div>
        <!-- Main -->
    </div>
    <!-- Main -->
    <!-- Loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <!-- Loader -->
    <!-- Scripts -->
    @{

        string ColtrollerName = ViewContext.RouteData.Values["controller"].ToString();
        string ActionName = ViewContext.RouteData.Values["action"].ToString();

        if (ColtrollerName == "")
        {

        }

    }


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="~/js/main.js"></script>

    <script>
            function SetAside(ID) {
                $("#khizooo-main-menu li").removeClass("khizooo-active");
                $("#khizooo-main-menu #" + ID).addClass("khizooo-active");
            }
    ;</script>

    <!-- Scripts -->
    @await RenderSectionAsync("JS_Scripts", required: false)
</body>
</html>

