<!DOCTYPE html>

<!--
My Social Accounts
-----------------------------------------------------------------------------------------------------------------------------
Website     https://www.khizooo.com
Facebook    https://www.facebook.com/khizoooartist
Instagram   https://www.instagram.com/khizooo_art
LinkedIn    https://www.linkedin.com/in/khizar-imtiaz
OpenSea     https://opensea.io/KhizoOo_
Twitter     https://twitter.com/khizaroo
Pinterest   https://www.pinterest.com/KhizoOo_
Snapchat    https://www.snapchat.com/add/khizooo_1163?share_id=ZIvI4JY3joU&locale=en-PK
Skype       https://join.skype.com/invite/b0k5jlb9HRmk
YouTube     https://youtube.com/@@khizooo?sub_confirmation=1
Whatsapp    https://wa.me/923007683396?text=KhizoOo%20%3C3
TikTok      https://www.tiktok.com/@@khizooo_butt
-->

<html lang="en" dir="ltr">
<head>

    <!-- My Social META -->
    <meta name="Website" content="https://www.khizooo.com">
    <meta name="Facebook" content="https://www.facebook.com/khizoooartist">
    <meta name="Instagram" content="https://www.instagram.com/khizooo_art">
    <meta name="LinkedIn" content="https://www.linkedin.com/in/khizar-imtiaz">
    <meta name="OpenSea" content="https://opensea.io/KhizoOo_">
    <meta name="Twitter" content="https://twitter.com/khizaroo">
    <meta name="Pinterest" content="https://www.pinterest.com/KhizoOo_">
    <meta name="Snapchat" content="https://www.snapchat.com/add/khizooo_1163?share_id=ZIvI4JY3joU&locale=en-PK">
    <meta name="Skype" content="https://join.skype.com/invite/b0k5jlb9HRmk">
    <meta name="YouTube" content="https://youtube.com/@@khizooo?sub_confirmation=1">
    <meta name="Whatsapp" content="https://wa.me/923007683396?text=KhizoOo%20%3C3">
    <meta name="TikTok" content="https://www.tiktok.com/@@khizooo_butt">
    <!-- My Social META -->
    <!-- Common META -->
    <meta charset="utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta name="author" content="KhizoOo">
    <link rel="canonical" href="https://www.khizooo.com" />
    <meta name="KhizoOo-Theme" content="KhizoOo">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="revisit-after" content="7 days">
    <meta name="distribution" content="global">
    <meta name="rating" content="general">
    <meta name="googlebot" content="index, follow">
    <meta name="bingbot" content="index, follow">
    <!-- Common META -->
    <!-- Favicon -->
    <link title="Favicon" rel="icon" type="image/png" href="favicons/Favicon-16.png">
    <!-- Favicon -->
    <!-- Title -->
    <title>Khizar Imtiaz - Art & Tech Fusion</title>
    <!-- Title -->
    <!-- MetaTags -->
    @RenderSection("MetaTags", required: true)
    <!-- MetaTags -->

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- STYLE CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- Plugins CSS -->
    <link href="~/assets/css/plugins.css" rel="stylesheet">

    <!--- FONT-ICONS CSS -->
    <link href="~/assets/css/icons.css" rel="stylesheet">

    <!-- INTERNAL Switcher css -->
    <link href="~/assets/switcher/css/switcher.css" rel="stylesheet">
    <link href="~/assets/switcher/demo.css" rel="stylesheet">

    <!-- Custom Styles CSS -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

</head>

<body class="app sidebar-mini ltr light-mode">

    <!-- GLOBAL-LOADER -->
    <div id="global-loader">
        <img src="~/assets/images/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- /GLOBAL-LOADER -->
    <!-- PAGE -->
    <div id="khizooo-page" class="page">
        @RenderBody()
    </div>
    <!-- PAGE -->
    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- Scripts -->
    @{

        string ColtrollerName = ViewContext.RouteData.Values["controller"].ToString();
        string ActionName = ViewContext.RouteData.Values["action"].ToString();

        if (ColtrollerName == "")
        {

        }

    }

    <!-- JQUERY JS -->
    <script src="~/assets/js/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- TypeHead js -->
    <script src="~/assets/plugins/bootstrap5-typehead/autocomplete.js"></script>
    <script src="~/assets/js/typehead.js"></script>

    <!-- Perfect SCROLLBAR JS-->
    <script src="~/assets/plugins/p-scroll/perfect-scrollbar.js"></script>
    <script src="~/assets/plugins/p-scroll/pscroll.js"></script>
    <script src="~/assets/plugins/p-scroll/pscroll-1.js"></script>

    <!-- SIDE-MENU JS -->
    <script src="~/assets/plugins/sidemenu/sidemenu.js"></script>

    <!-- SIDEBAR JS -->
    <script src="~/assets/plugins/sidebar/sidebar.js"></script>

    <!-- Color Theme js -->
    <script src="~/assets/js/themeColors.js"></script>

    <!-- Sticky js -->
    <script src="~/assets/js/sticky.js"></script>

    <!-- CUSTOM JS -->
    <script src="~/assets/js/custom.js"></script>

    <!-- Custom-switcher -->
    <script src="~/assets/js/custom-swicher.js"></script>

    <!-- Switcher js -->
    <script src="~/assets/switcher/js/switcher.js"></script>

    <script>function SetAside(ID) {
                $("#khizooo-main-menu li").removeClass("khizooo-active");
                $("." + ID).addClass("khizooo-active");
            };</script>

    <!-- Scripts -->

    @await RenderSectionAsync("JS_Scripts", required: false)

</body>

</html>

