 <!-- Footer -->
<footer>
    <div class="container">
        <div class="col-md-2 col-sm-6">
            <div class="footer-item">
                <h2>Latest Products</h2>
                <ul>
                    <li><a href="#">-  Microdosing</a></li>
                    <li><a href="#">-  Dreamcatcher</a></li>
                    <li><a href="#">-  Chambray irony</a></li>
                    <li><a href="#">-  Bitters leggings</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="footer-item">
                <h2>New Arrivals</h2>
                <ul>
                    <li><a href="#">-  Park brunch</a></li>
                    <li><a href="#">-  Shoreditch</a></li>
                    <li><a href="#">-  Activated</a></li>
                    <li><a href="#">-  Charcoales</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="footer-item">
                <h2>Top Rated 2018</h2>
                <ul>
                    <li><a href="#">-  Messenger</a></li>
                    <li><a href="#">-  Selvage</a></li>
                    <li><a href="#">-  Chartreuse</a></li>
                    <li><a href="#">-  Bushwick</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="footer-item">
                <h2>Recommended</h2>
                <ul>
                    <li><a href="#">-  Coloring</a></li>
                    <li><a href="#">-  Pinterest</a></li>
                    <li><a href="#">-  Mumblecore</a></li>
                    <li><a href="#">-  Mustache</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="footer-item">
                <h2>More About Us</h2>
                <p>Duis tristique, erat id tempus viverra, quam ante tempus massa, id pulvinar nisi lorem at metus. Aenean posuere risus tristique.</p>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<div class="sub-footer">
    <div class="container">
        <div class="col-md-12">
            <p>
                Copyright &copy; 2018 Company Name

                - Design: <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a>
            </p>
        </div>
    </div>
</div>
<!-- Footer -->

@code {

}
