@inherits LayoutComponentBase

@using Blazor_01.Shared.landingpages.v2;

<Header />

<!-- Main Content Starts -->
<div class="pages w-full h-full overflow-hidden">


    @Body


</div>
<!-- Main Content Ends -->
