<!-- Top Banner -->
<div id="TOPBANNER" class="banner">
    <div class="container-fluid">
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="left-content">
                <div class="inside-content">
                    <h4>Total 3 HTML pages are included in this Brunch Template. Home, Generic and Contact.</h4>
                    <div class="white-border-button">
                        <a href="#">View More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
            <div class="center-image">
                <div class="inside-content">
                    <img src="img/center-image.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="right-content">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <p>“Phasellus in nulla non ante tempor maximus. Mauris bibendum augue vel neque maximus, eget venenatis neque condimentum. Quisque suscipit porta finibus. Mauris volutpat commodo mattis.”</p>
                    </div>
                    <div class="item">
                        <p>“Vestibulum posuere iaculis diam, in faucibus urna. Duis nisl tellus, gravida in lacinia consequat, aliquet ac ligula. Etiam bibendum ligula a nunc malesuada, non congue tortor porttitor.”</p>
                    </div>
                    <div class="item">
                        <p>“Nullam sit amet sapien libero. Nulla arcu elit, auctor a odio nec, ultrices ultricies felis. Quisque pretium tempor odio, ut consectetur lectus semper a.”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Banner -->

@code {

}