<!-- Portfolio Starts -->
<div class="page animation-top" id="artfulness">
    <div class="w-full">
        <!-- Section Title Starts -->
        <div class="mx-auto w-full relative py-80 text-center xs:px-25 xs:pt-16 xs:pb-14 xs:bg-light-grey xs:border-b xs:border-grey xs:fixed xs:left-0 xs:right-0 xs:top-0 xs:z-20">
            <h2 class="text-fs-56 font-black font-Poppins uppercase text-black-6 m-0 xs:text-fs-26 xs:text-left xs:leading-lh-1.2">
                my <span class="text-accent">artfulness</span>
            </h2>
            <span class="text-fs-110 absolute left-0 right-0 top-1/2 tracking-10 leading-lh-0.7 font-extrabold text-light-grey-2 -translate-y-1/2 uppercase xs:hidden">art works</span>
        </div>
        <!-- Section Title Ends -->
        <!-- Portfolio Items Starts -->
        <div class="-mt-15 pb-60 xs:pb-20 portfolio">
            <div id="Artfulness-Gallery" class="xl:max-w-1140 custom-md-3:max-w-[calc(100%-195px)] md:max-w-720 sm:max-w-540 xs:max-w-full mx-auto">
                <!-- Portfolio Grid Starts -->
                <div class="grid-wrap mx-auto mb-25">
                    <ul class="gridlist" style="position: relative; height: 737.577px;">
                        <!-- Portfolio Grid Item Starts -->
                        <li class="w-1/3 down-lg:w-1/2 xs:w-full float-left cursor-pointer p-15 xs:px-0">
                            <figure class="transition duration-300 rounded-5 relative overflow-hidden">
                                <img class="block relative w-full rounded-5 transition duration-300" src="landingpages/v2/img/project-1.jpg" alt="">
                                <div class="absolute w-full h-full flex items-center justify-center bg-accent">
                                    <span class="uppercase text-fs-18 text-white">
                                        image project
                                    </span>
                                </div>
                            </figure>
                        </li>
                        <!-- Portfolio Grid Item Ends -->
                    </ul>
                </div>
                <!-- Portfolio Grid Ends -->
            </div>
        </div>
        <!-- Portfolio Items Ends -->
    </div>
</div>
<!-- Portfolio Ends -->

@code {

}
