@using Blazor_01.AppData;
@using Newtonsoft.Json;
@using Microsoft.CSharp;

@{




}

<!-- InfoGraphics Starts -->
<div class="page animation-top" id="infographics">
    <div class="w-full">
        <!-- Section Title Starts -->
        <div class="mx-auto w-full relative py-80 text-center xs:px-25 xs:pt-16 xs:pb-14 xs:bg-light-grey xs:border-b xs:border-grey xs:fixed xs:left-0 xs:right-0 xs:top-0 xs:z-20">
            <h2 class="text-fs-56 font-black font-Poppins uppercase text-black-6 m-0 xs:text-fs-26 xs:text-left xs:leading-lh-1.2">
                my <span class="text-accent">infographics</span>
            </h2>
            <span class="text-fs-110 absolute left-0 right-0 top-1/2 tracking-10 leading-lh-0.7 font-extrabold text-light-grey-2 -translate-y-1/2 uppercase xs:hidden">info graphics</span>
        </div>
        <!-- Section Title Ends -->
        <!-- My InfoGraphic Starts -->
        <div class="-mt-15 pb-60 xs:pb-20 portfolio">

            <section class="hero-section">

                <div class="card-grid">

                    @{
                        foreach (Infographic art in MyAllInfographics)
                        {

                            <a class="card" href="#">
                                <div class="card__background"
                                     style="background-image: url(@art.IMG)"></div>
                                <div class="card__content">
                                    <p class="card__category">@art.Type - @art.Category</p>
                                    <h3 class="card__heading">@((MarkupString)art.Title)</h3>
                                </div>
                            </a>

                        }
                    }

                </div>

            </section>

        </div>
        <!-- My InfoGraphic Ends -->
    </div>
</div>
<!-- InfoGraphics Ends -->

@code {

    List<Infographic> MyAllInfographics = new MyInfographics().GetMyInfographics(1000);
}


