@using Blazor_01.AppData;
@using Newtonsoft.Json;
@using Microsoft.CSharp;

@{




}

<!-- Synopsis Starts -->
<div class="page animation-top" id="writings">
    <div class="w-full">
        <!-- Section Title Starts -->
        <div class="mx-auto w-full relative py-80 text-center xs:px-25 xs:pt-16 xs:pb-14 xs:bg-light-grey xs:border-b xs:border-grey xs:fixed xs:left-0 xs:right-0 xs:top-0 xs:z-20">
            <h2 class="text-fs-56 font-black font-Poppins uppercase text-black-6 m-0 xs:text-fs-26 xs:text-left xs:leading-lh-1.2">
                my <span class="text-accent">Synopsis</span>
            </h2>
            <span class="text-fs-110 absolute left-0 right-0 top-1/2 tracking-10 leading-lh-0.7 font-extrabold text-light-grey-2 -translate-y-1/2 uppercase xs:hidden">Synopsis</span>
        </div>
        <!-- Section Title Ends -->
        <!-- My Synopsis Starts -->
        <div class="-mt-15 pb-60 xs:pb-20 portfolio">

            <section class="hero-section">

                <div class="card-grid">

                    @*@{
                        foreach (Art art in MyAllArts)
                        {

                            <a class="card" href="#">
                                <div class="card__background"
                                     style="background-image: url(@art.IMG)"></div>
                                <div class="card__content">
                                    <p class="card__category">@art.Type - @art.Category</p>
                                    <h3 class="card__heading">@((MarkupString)art.Title)</h3>
                                </div>
                            </a>

                        }
                    }*@

                </div>

            </section>

        </div>
        <!-- My Synopsis Ends -->

        <div class="mx-auto w-full relative py-80 text-center xs:px-25 xs:pt-16 xs:pb-14 xs:bg-light-grey xs:border-b xs:border-grey xs:fixed xs:left-0 xs:right-0 xs:top-0 xs:z-20">
            <a class="button group mt-30 overflow-hidden inline-block leading-lh-1.4 rounded-30 text-ellipsis text-center align-middle select-none transition-all duration-250 ease-in-out uppercase no-underline relative z-10 py-16 pr-70 pl-35 text-fs-15 font-semibold text-white bg-transparent outline-0 before:absolute before:-z-10 before:left-0 before:right-0 before:top-0 before:bottom-0 before:translate-x-full hover:before:translate-x-0 before:transition before:duration-300 before:ease-out" href="https://www.linkedin.com/in/khizar-imtiaz/" target="_blank">
                <span class="relative z-20 text-black-6 group-hover:text-white transition-all duration-300" style="color: white;">view more synopses</span>
                <span class="absolute -right-px bottom-0 w-55 h-55 flex items-center justify-center rounded-full text-white text-fs-19 fa fa-download bg-accent"></span>
            </a>
        </div>

    </div>
</div>
<!-- Synopsis Ends -->

@code {

    //List<Art> MyAllArts = new MyArts().GetMyArts(1000);
}
