
@{
    ViewData["Title"] = "Index";
}

<!-- ToolBoxes -->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4 Heading-Color">Tools Box</h2>
                    <p>"Innovate development with my custom solution"</p>
</div>
        </div>
        <div class="photograhy">
            <div class="row no-gutters">

                @{
                    foreach (var tb in ViewBag.MyAllToolBoxes)
                    {
                        <div class="col-md-2">
                            <a href="#" class="infographich-entry img d-flex justify-content-center align-items-center" style="background-image: url(@tb.IMG);">
                                <div class="overlay"></div>
                                <div class="text text-center" style="position: absolute;bottom: 10px;">
                                    @*<h3>@Html.Raw(tb.Title)</h3>*@
                                    <span>@tb.Type - @tb.Category</span>
                                </div>
                            </a>
                        </div>
                    }
                }

            </div>
        </div>
        
    </div>
</section>
<!-- ToolBoxes -->

@section JS_Scripts {
    <script>SetAside("Menu-ToolsBox");</script>
}