@section MetaTags {

    <!-- Website Meta Tags -->
    <meta name="description" content="Discover the fusion of art and technology with Khizar Imtiaz. Explore a portfolio of beautiful art, insightful tech blogs, and creative coding projects.">
    <meta name="keywords" content="Khizar Imtiaz, Art and Technology, Tech Blog, Coding Projects, Learn through Visuals, Creative Portfolio">

    <!-- Open Graph / Facebook Meta Tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.khizooo.com/">
    <meta property="og:title" content="Khizar Imtiaz - Art & Tech Fusion">
    <meta property="og:description" content="Discover the fusion of art and technology with Khizar Imtiaz. Explore a portfolio of beautiful art, insightful tech blogs, and creative coding projects.">
    <meta property="og:image" content="~/images/SEO/OG-Image.png">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="~/images/SEO/Twitter-Card.png">
    <meta property="twitter:url" content="https://www.khizooo.com/">
    <meta property="twitter:title" content="Khizar Imtiaz - Art & Tech Fusion">
    <meta property="twitter:description" content="Discover the fusion of art and technology with Khizar Imtiaz. Explore a portfolio of beautiful art, insightful tech blogs, and creative coding projects.">
    <meta property="twitter:image" content="~/images/SEO/Twitter-Image.png">

}

<!-- ToolBoxes -->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4 Heading-Color">Tools Box</h2>
                <p>"Innovate development with my custom solution"</p>
            </div>
        </div>
        <div class="photograhy">
            <div class="row no-gutters">

                @{
                    foreach (var tb in ViewBag.MyAllToolBoxes)
                    {
                        <div class="col-md-2">
                            <a href="#" class="infographich-entry img d-flex justify-content-center align-items-center" style="background-image: url(@tb.IMG);">
                                <div class="overlay"></div>
                                <div class="text text-center" style="position: absolute;bottom: 10px;">
                                    @*<h3>@Html.Raw(tb.Title)</h3>*@
                                    <span>@tb.Type - @tb.Category</span>
                                </div>
                            </a>
                        </div>
                    }
                }

            </div>
        </div>

    </div>
</section>
<!-- ToolBoxes -->

@section JS_Scripts {
    <script>SetAside("Menu-ToolsBox");</script>
}