

@section MetaTags {

    <!-- Website Meta Tags -->
    <title>Color Contrast Checker - Improve Web Accessibility | KhizoOo</title>
    <meta name="description" content="Use the Color Contrast Checker by Khizar Imtiaz to ensure your website's colors meet accessibility standards. Perfect for designers and developers. Try our widget!">
    <meta name="keywords" content="Color Contrast Checker, Web Accessibility, Design Tools, Development Tools, Contrast Widget, Khizar Imtiaz">

    <!-- Open Graph / Facebook Meta Tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.khizooo.com/ToolsBox/Color_Contrast_Checker">
    <meta property="og:title" content="Color Contrast Checker - Improve Web Accessibility | KhizoOo">
    <meta property="og:description" content="Use the Color Contrast Checker by Khizar Imtiaz to ensure your website's colors meet accessibility standards. Perfect for designers and developers. Try our widget!">
    <meta property="og:image" content="~/images/SEO/OG-Image.png">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="~/images/SEO/Twitter-Card.png">
    <meta property="twitter:url" content="https://www.khizooo.com/ToolsBox/Color_Contrast_Checker">
    <meta property="og:title" content="Color Contrast Checker - Improve Web Accessibility | KhizoOo">
    <meta property="og:description" content="Use the Color Contrast Checker by Khizar Imtiaz to ensure your website's colors meet accessibility standards. Perfect for designers and developers. Try our widget!">
    <meta property="twitter:image" content="~/images/SEO/Twitter-Image.png">

}

<style>

        .pattern {
            height: 210px;
            z-index: 0;
            position: relative;
            border: 1px solid black;
            margin: 5px;
        }

         .pattern .overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
                background: #da035c;
                opacity: 0;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }

        .pattern:hover .overlay, .pattern:focus .overlay {
            opacity: 0.9;
        }

            .pattern .text {
                opacity: 0;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }

                .pattern .text h3 {
                    color: #fff;
                    font-size: 15px;
                    font-weight: 700;
                }

                .pattern .text span {
                    font-size: 11px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: rgba(255, 255, 255, 0.8);
                }

            .pattern:hover .text, .pattern:focus .text {
                opacity: 1;
            }

</style>

<section class="ftco-section">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 ftco-animate fadeInUp ftco-animated text-center">
                <h1 class="mb-3 font-weight-bold Heading-Color"> Basic Pattern Repository </h1>
                <p> These are just SVG - for your Joy!</p>
            </div>
        </div>
    </div>

</section>

<section class="ftco-section">

    <div id="Widget-Cotrol-01" class="container">

        <div class="row justify-content-center">

            <div class="col col-lg-12" style="">

                <div class="photograhy">
                    <div class="row no-gutters">

                        @{
                            foreach (var bp in ViewBag.BasicPatterns)
                            {
                                <div class="col-md-2">
                                    <a href="#" class="pattern d-flex justify-content-center align-items-center" style="background-image: url(@bp.URL);" data-pattern="@bp.FullCode">
                                        <div class="overlay"></div>
                                        <div class="text text-center">
                                            <h3>@Html.Raw(bp.Title)</h3>
                                            <span>@bp.Categories</span>
                                        </div>
                                    </a>
                                </div>

                            }
                        }

                    </div>
                </div>

            </div>

        </div>

    </div>

</section>

<section class="ftco-section">

    <div class="container">

        <div class="row justify-content-center p-3">
            <div class="col col-lg-1"> </div>
            <div class="col col-lg-10">

                <h2 class="Heading-Color" style="">How It Works?</h2>
                <p>
                    This tool follows the Web Content Accessibility Guidelines (WCAG), which provide recommendations for making the web more accessible. When it comes to colors, the guidelines specify two levels of contrast ratio: AA and AAA.
                    <br />
                    For AA, the minimum contrast ratio required is 4.5:1 for regular text and 3:1 for larger or bold text.
                    <br />
                    For AAA, the contrast ratio required is higher, with a minimum of 7:1 for regular text and 4.5:1 for larger or bold text.
                    <br />
                    These contrast ratios help ensure that text on websites is easily readable for all users, including those with visual impairments.
                </p>

                <h2 class="Heading-Color" style="margin-top:35px">IMPORTANT DEFINITIONS</h2>
                <p>In color contrast, "AA" and "AAA" refer to two levels of compliance with the Web Content Accessibility Guidelines (WCAG), which provide recommendations for making web content more accessible to people with disabilities. Specifically, they relate to the contrast ratio between text and its background.</p>

                <h3 class="Heading-Color">AA</h3>
                <p>
                    This level of compliance requires a minimum contrast ratio of 4.5:1 for normal text and 3:1 for larger text (18pt or larger) or bold text. Meeting this standard ensures that text is reasonably legible for most users.
                </p>

                <h3 class="Heading-Color">AA (18pt)</h3>
                <p>
                    This specifies the contrast requirements specifically for larger text, which must have a minimum contrast ratio of 3:1 to meet the AA standard.
                </p>

                <h3 class="Heading-Color">AAA</h3>
                <p>
                    This is a higher level of compliance, requiring a more stringent contrast ratio of at least 7:1 for normal text and 4.5:1 for larger or bold text. Meeting this standard ensures that text is highly legible for most users, including those with low vision.
                </p>

                <h3 class="Heading-Color">AAA (18pt)</h3>
                <p>
                    Similar to AA (18pt), this specifies the contrast requirements specifically for larger text to meet the AAA standard.
                </p>

                <h3 class="Heading-Color">Colors</h3>
                <p>
                    Refers to the foreground (text) and background colors being compared for their contrast ratio.
                </p>

                <h3 class="Heading-Color">Color DIFF</h3>
                <p>
                    This likely refers to the difference in color values between the foreground and background, which is measured to determine the contrast ratio.
                </p>

            </div>
            <div class="col col-lg-1"> </div>
        </div>

    </div>

</section>


@section JS_Scripts {

    <script>SetAside("Menu-ToolsBox");</script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {

        });

    </script>

}


