.Artfulness-Text {
    color: #0771AE;
}
.Toolbox-Text {
    color: #FCB035;
}
.Potfolio-Text {
    color: #DA035C;
}
.Infographic-Text {
    color: #4FCC48;
}
.Wording-Text {
    color: #8928EC;
}

.Artfulness-Background {
    background-color: #0771AE;
}
.Toolbox-Background {
    background-color: #FCB035;
}
.Portfolio-Background {
    background-color: #DA035C;
}
.Infographic-Background {
    background-color: #4FCC48;
}
.Wording-Background {
    background-color: #8928EC;
}