
@section MetaTags {

    <title>Drawing & Sketching Gallery - KhizoOo</title>
    <meta name="description" content="Explore Khizar Imtiaz's gallery of drawings and sketches. Dive into a world of creativity through pencil, charcoal, and digital sketches.">
    <meta name="keywords" content="khizooo, Drawing Gallery, Sketching Art, Pencil Drawing, Charcoal Sketches, Digital Drawing, Art Portfolio">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.khizooo.com/Artfulness">
    <meta property="og:title" content="Khizar Imtiaz - Drawing & Sketching Gallery">
    <meta property="og:description" content="Explore Khizar Imtiaz's gallery of drawings and sketches. Dive into a world of creativity through pencil, charcoal, and digital sketches.">
    <meta property="og:image" content="~/images/SEO/OG-Image.png">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="~/images/SEO/Twitter-Card.png">
    <meta property="twitter:url" content="http://www.khizooo.com/Artfulness">
    <meta property="twitter:title" content="Khizar Imtiaz - Drawing & Sketching Gallery">
    <meta property="twitter:description" content="Explore Khizar Imtiaz's gallery of drawings and sketches. Dive into a world of creativity through pencil, charcoal, and digital sketches.">
    <meta property="twitter:image" content="~/images/SEO/Twitter-Image.png">

}

<!-- ArtFulness -->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 class="mb-4 Heading-Color">Art Fulness</h2>
                <p class="subheading">"Discover the soulful strokes of creativity"</p>
            </div>
        </div>
        <div class="photograhy">
            <div class="row no-gutters">

                @{
                    foreach (var art in ViewBag.MyAllArts)
                    {
                        <div class="col-md-2">
                            <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(@art.IMG);">
                                <div class="overlay"></div>
                                <div class="text text-center">
                                    <h3>@Html.Raw(art.Title)</h3>
                                    <span>@art.Type - @art.Category</span>
                                </div>
                            </a>
                        </div>
                    }
                }

            </div>
        </div>

    </div>
</section>
<!-- ArtFulness -->



@section JS_Scripts {
    <script>(function ($) {
            SetAside("Menu-Artfulness");
        })(jQuery);</script>
}