@{

    MVC_07.AppData.KhizoOo ME = ViewBag.ME;

}


<aside id="khizooo-aside" role="complementary" class="js-fullheight text-left">
    <h1 id="khizooo-logo"><a href="/Home">khizoOo<span>.</span></a></h1>
    <nav id="khizooo-main-menu" role="navigation">
        <ul>
            <li class="Menu-Home khizooo-active"><a href="/Home">Home</a></li>
            <li class="Menu-Artfulness"><a href="/Artfulness">Art Fulness</a></li>
            <li class="Menu-InfoGraphics"><a href="/InfoGraphics">Info Graphics</a></li>
            <li class="Menu-Writings"><a href="/Writings">Writings</a></li>
            <li class="Menu-ToolsBox"><a href="/ToolsBox">Tools Box</a></li>
            @*<li><a href="#">Synopsis</a></li>*@
            @*<li><a href="/About">About</a></li>
            <li><a href="/Contact">Contact</a></li>*@
        </ul>
    </nav>

    <div class="khizooo-footer text-center">
        <p>Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> | All rights reserved. </p>

        <ul>
            <li><a href="@ME.Facebook"><i class="icon-facebook"></i></a></li>
            <li><a href="@ME.Twitter"><i class="icon-twitter"></i></a></li>
            <li><a href="@ME.Instagram"><i class="icon-instagram"></i></a></li>
            <li><a href="@ME.LinkedIn"><i class="icon-linkedin"></i></a></li>
        </ul>

    </div>
</aside>