<div class="hero-wrap js-fullheight" style="background-image: url(images/Theme/bg_11.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="js-fullheight d-flex justify-content-center align-items-center">
        <div class="col-md-8 text text-center">
            <div class="img mb-4" style="background-image: url(myPics/lp-main.png);"></div>
            <div class="desc">
                <h2 class="subheading">Hello I'm</h2>
                <h1 class="mb-4">KHIZAR IMTIAZ</h1>
                <h2 class="subheading">Destined to Code, Born to Create</h2>
                <p class="mb-4">I'm a person who really enjoys learning about new and cool technologies, and I also love creating art to express emotions. You can discover this awesome mix of art and tech on my website, khizooo.com.</p>
                <p class="mb-4">Take a look at some beautiful art, explore my portfolio, read interesting blogs about technology, find useful bits of code, and enjoy the magic of learning through visuals.</p>
                <p class="mb-4">In a world filled with lots of information, we believe that learning is more fun when it's visual. I make detailed pictures and graphics that help explain complicated ideas and make learning exciting.</p>
                <p class="mb-4">Come along on this journey where creativity and innovation come together!</p>

                <ul class="ftco-social mt-3">
                    <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-twitter"></span></a></li>
                    <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-facebook"></span></a></li>
                    <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>

            </div>
        </div>
    </div>
</div>